---
import PageHeader from "@/components/header/PageHeader.astro";
import WebsiteIllustration from "@/assets/images/illustrations/website.svg";
import ServiceCard from "@/components/ui/ServiceCard.astro";
import Layout from "@/layouts/Layout.astro";
import StatSection from "@/sections/general/StatSection.astro";
import { Image } from "astro:assets";
import { FaArrowRight } from "react-icons/fa";
import {
  HiOutlineBolt,
  HiOutlineBuildingStorefront,
  HiOutlineChartBar,
  HiOutlineCodeBracketSquare,
  HiOutlineLightBulb,
} from "react-icons/hi2";
import { IoLogoWebComponent } from "react-icons/io5";
import Subtitle from "@/components/heading/Subtitle.astro";
---

<Layout
  title="RysthDesign | Servicios en Diseño y Desarrollo Web Profesionales"
>
  <PageHeader title="Nuestros Servicios" currentPage="Servicios" />
  <!-- HeroSection -->
  <section class="p-4">
    <article
      class="grid max-w-screen-xl gap-20 py-12 mx-auto md:grid-cols-2 md:pt-24 lg:pt-32"
    >
      <main
        class="relative z-20 flex flex-col items-center justify-center md:items-start gap-7 md:gap-10"
      >
        <h3 class="font-semibold text-brand-blue">Nuestros Servicios</h3>
        <div class="space-y-2 text-center md:space-y-4 md:text-left">
          <h2
            class="text-2xl font-black md:text-4xl lg:!leading-10 lg:max-w-lg text-neutral-900"
          >
            Soluciones Integrales en <span class="text-brand-blue"
              >Diseño y Desarrollo Web</span
            >
          </h2>
          <p
            class="max-w-lg mx-auto text-sm !leading-7 text-gray-800 md:text-base lg:ml-0"
          >
            Transformamos tu visión en realidad digital. Desde el diseño web
            hasta el desarrollo de aplicaciones robustas, nuestro enfoque
            personalizado garantiza soluciones que se alinean perfectamente con
            tus objetivos de negocio.
          </p>
        </div>
        <a
          href="http://tinyurl.com/contact-ws"
          target="_blank"
          rel="noreferrer"
          class="text-white border-transparent btn btn-neutral bg-brand-blue max-w-max group"
        >
          Contactános <FaArrowRight
            className="block text-xl group-hover:translate-x-1 transition"
          />
        </a>
      </main>
      <Image
        src={WebsiteIllustration}
        alt="Ilustración de servicios web"
        class="w-full lg:h-full"
      />
    </article>
  </section>

  <!-- ServiceSection -->
  <section class="p-4">
    <article class="max-w-screen-xl py-12 mx-auto md:py-24">
      <main class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 md:gap-8">
        <ServiceCard
          title="Aplicaciones Web"
          description="Aplicaciones web robustas y escalables, con tecnologías modernas para negocios en crecimiento."
          IconComponent={HiOutlineCodeBracketSquare}
          bgColorClass="bg-cyan-200"
        />

        <ServiceCard
          title="Diseño de Sitios Web"
          description="Diseños web atractivos y funcionales, centrados en la experiencia del usuario y la identidad de marca."
          IconComponent={IoLogoWebComponent}
          bgColorClass="bg-indigo-200"
        />

        <ServiceCard
          title="Plataformas e-Commerce"
          description="Soluciones e-commerce personalizadas para una experiencia de compra óptima y segura."
          IconComponent={HiOutlineBuildingStorefront}
          bgColorClass="bg-purple-200"
        />
        <ServiceCard
          title="Mantenimiento Web"
          description="Servicios continuos para asegurar el funcionamiento óptimo de tu sitio, incluyendo actualizaciones y respaldos."
          IconComponent={HiOutlineLightBulb}
          bgColorClass="bg-blue-200"
        />

        <ServiceCard
          title="Optimización de Rendimiento"
          description="Mejora la velocidad y eficiencia de tu sitio web para una mejor experiencia de usuario y clasificación SEO."
          IconComponent={HiOutlineBolt}
          bgColorClass="bg-yellow-200"
        />

        <ServiceCard
          title="SEO y Analítica Web"
          description="Estrategias avanzadas de SEO para mejorar tu visibilidad en línea y análisis detallado del tráfico web."
          IconComponent={HiOutlineChartBar}
          bgColorClass="bg-green-200"
        />
      </main>
    </article>
  </section>
  <!-- StatSection -->
  <StatSection />
</Layout>
