---
// Importa los íconos que necesitas
import { GoCheckCircleFill } from "react-icons/go";

// Definición de propiedades que esperas recibir para el componente PricingCard
interface PricingCardProps {
  title: string;
  price: string;
  features: string[];
  buttonText: string;
  maintanceText: string;
  highlight: boolean;
}

const defaultProps: PricingCardProps = {
  title: "Plan Default",
  price: "$0",
  features: [],
  buttonText: "Get Started",
  maintanceText: "",
  highlight: false,
};

const { title, price, features, buttonText, maintanceText, highlight } =
  Astro.props;
---

<div
  class={`relative flex flex-col p-8 rounded-2xl max-w-80 shadow-lg shadow-neutral-300  ${
    highlight ? "bg-brand-blue text-white" : "bg-white text-neutral-700"
  }`}
>
  <div class="flex-1">
    <h3 class="font-semibold text-center uppercase">{title}</h3>
    <p class="flex flex-col items-center mt-2">
      <span class="text-xs text-left w-36">desde</span>
      <span class="text-5xl font-extrabold tracking-tight md:text-6xl"
        >{price}</span
      >
    </p>
    <ul class="mt-4 space-y-4">
      {
        features.map((feature) => (
          <li class="flex items-center px-2 text-sm">
            <GoCheckCircleFill className="text-green-500 text-lg" />
            <span class="ml-2">{feature}</span>
          </li>
        ))
      }
    </ul>
    <p class="p-5 text-xs italic font-semibold text-center">{maintanceText}</p>
  </div>
  <a
    href={`https://wa.me/+593988949117?text=${encodeURIComponent(
      `Me gustaría consultar más acerca de su ${title.toUpperCase()}. Podría indicarme precios, y qué más se necesitaría para comenzar por favor. Gracias.`,
    )}`}
    target="_blank"
    rel="noreferrer"
    class={`btn btn-neutral !border-transparent grid place-items-center text-sm bg-white ${
      highlight
        ? "text-neutral-900 bg-white hover:text-white"
        : "text-white bg-brand-blue"
    }`}
  >
    {buttonText}
  </a>
</div>
