---
// Props para el componente ProjectCard
const {
  imageUrl,
  projectUrl,
  altText,
  title,
  topic,
  description,
  technologies,
} = Astro.props;
import { Image } from "astro:assets";
---

<a
  href={projectUrl}
  target="_blank"
  rel="noreferrer"
  class="block transition duration-300 rounded-2xl group bg-background-primary"
>
  <figure class="rounded-xl">
    <Image
      src={imageUrl}
      alt={altText}
      class="w-full h-full mx-auto transition max-h-80 md:object-cover rounded-t-2xl group-hover:grayscale"
    />
  </figure>
  <main class="p-2 px-4 pb-6 mt-2">
    <h3 class="text-xl font-semibold text-white">{title}</h3>
    <p class="mt-1 text-xs text-gray-500">{topic}</p>
    <p class="my-2 text-xs md:text-sm">
      {description}
    </p>
    <ul class="flex gap-1 mt-4 text-sm">
      {
        technologies.map((tech) => (
          <li class={`text-white badge badge-sm ${tech.color}`}>{tech.name}</li>
        ))
      }
    </ul>
  </main>
</a>
